@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  cursor: default;
}

.bg_top {
  background-image: url(/img/bg_hero.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 7.5vw;
}

.bg_bottom {
  background-image: url(/img/bg_bottom.png);
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: inter_reg;
  src: url(/fonts/Inter-Regular.otf);
}
@font-face {
  font-family: inter_bold;
  src: url(/fonts/Inter-Bold.otf);
}
@font-face {
  font-family: inter_med;
  src: url(/fonts/Inter-Medium.otf);
}
@font-face {
  font-family: inter_semi;
  src: url(/fonts/Inter-SemiBold.otf);
}
.navbar-custom {
  background-color: transparent; /* Белый фон */
  padding-top: 45px;
  margin: 0;
}

.wrapper {
  padding-left: clamp(22px, 5vw, 120px);
  padding-right: clamp(22px, 5vw, 120px);
}

.nav-link {
  color: #000;
  font-family: inter_med;
  font-size: 1.3rem;
}
@media screen and (max-width: 991px) {
  .nav-link {
    font-size: 8vw;
    margin-top: 20px;
  }
}

.nav-link:hover {
  color: #000;
  text-decoration: underline;
}

.nav-link-contact {
  margin-left: 2vw;
}
@media screen and (max-width: 991px) {
  .nav-link-contact {
    margin-left: 0;
  }
}

.navbar-nav {
  gap: 1.5vw;
}

.navbar-toggler-icon {
  display: none;
}

.custom-toggler-icon {
  width: 24px;
  height: auto;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
}

.hero_h1 {
  font-size: 6vw;
  color: #1D1E25;
  white-space: nowrap;
}
@media screen and (max-width: 1052px) {
  .hero_h1 {
    font-size: 10vw;
  }
}

.hero_h2 {
  color: #1D1E25;
  margin-top: clamp(48px, 4vw, 114px);
  position: relative;
  padding-left: 5.5vw;
  font-size: 2rem;
}

.hero_h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.1vw;
  width: 4.5vw;
  height: 1px;
  background-color: black;
}
@media screen and (max-width: 1052px) {
  .hero_h2::before {
    top: 2vw;
    height: 2px;
  }
}

.hero_section {
  margin-top: clamp(32px, 4vw, 87px);
}

.hero_h2_cont {
  margin: 0;
  padding: 0;
}

.hero_input_contaier {
  height: 80px;
  margin: 0;
  padding: 0;
  width: 70%;
}
@media screen and (max-width: 1052px) {
  .hero_input_contaier {
    width: 100%;
  }
}

.hero_input {
  font-family: inter_reg;
  border: none;
  background: transparent;
  border-bottom: solid 1px;
  color: #7E8492;
  border-color: #CED1D8;
  outline: none;
  width: 400px;
  height: 100%;
}
@media screen and (max-width: 1052px) {
  .hero_input {
    width: 80%;
    height: 70%;
  }
}

.hero_input_button {
  background-color: #1D1E25;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 1vw 3vw;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}
@media screen and (max-width: 1052px) {
  .hero_input_button {
    font-size: 1.3rem;
  }
}

.hero_card {
  width: clamp(200px, 40vw, 600px);
  margin-bottom: 1rem;
}
@media screen and (max-width: 1199px) {
  .hero_card {
    width: 600px;
    margin-top: 5vw;
  }
}
@media screen and (max-width: 620px) {
  .hero_card {
    transform: scale(60%);
    margin-top: 5vw;
  }
}

.card-title {
  font-size: 1.5rem;
  font-family: inter_bold;
  color: #1D1E25;
  width: max-content;
}
@media screen and (max-width: 800px) {
  .card-title {
    font-size: 2rem;
  }
}

.graph_p {
  color: #1D1E25;
}

.graph_numbers {
  color: #7E8492;
  font-family: inter_reg;
  width: max-content;
}

.vertical-hr {
  width: 1px;
  height: 90%;
  background-color: #e9ecf1;
  transition: width ease 0.3s;
}

.vertical-hr.Bolded {
  width: 4px;
}

.graph_month {
  color: #7E8492;
}

.graph_col {
  position: relative;
}

.graph_col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(42, 134, 255, 0.08), rgba(42, 134, 255, 0));
  opacity: 0; /* Градиент скрыт */
  transition: opacity 0.3s ease; /* Плавное появление градиента */
  z-index: 2; /* Чтобы псевдоэлемент находился позади содержимого */
}

.hovered::before {
  opacity: 1; /* Показ градиента при добавлении класса */
}

.graph_pointer {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #2280FF;
  border: 8px solid white;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.32);
  opacity: 0;
  transition: border ease 0.3s, opacity ease 0.3s;
  z-index: 3;
}

.graph_pointer.custom_visible {
  opacity: 100%;
  border: 3.5px solid white;
}

.graph_svg {
  position: absolute;
  width: 75%;
  height: auto;
  transform: translateX(50px);
  pointer-events: none;
  z-index: 2;
}
@media screen and (max-width: 550px) {
  .graph_svg {
    transform: translate(50px, 20px);
  }
}

.card2_p {
  color: #5C616E;
}

.custom_tooltip {
  position: absolute;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  opacity: 0%;
  z-index: 1000;
  transition: opacity ease 0.3s;
}

.tooltip_box_6 {
  background-color: #FF5555;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 8px;
}

.tooltip_content {
  display: flex;
  align-items: center;
}

.tooltip_box {
  width: 14px;
  height: 14px;
  background-color: #2280FF;
  border-radius: 3px;
  margin-right: 8px;
}

.tooltip_text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#pointer_1 {
  transform: translateY(112px);
}

#pointer_2 {
  transform: translateY(53px);
}

#pointer_3 {
  transform: translateY(70px);
}

#pointer_4 {
  transform: translateY(105px);
}

#pointer_5 {
  transform: translateY(80px);
}

#pointer_6 {
  transform: translateY(130px);
  background-color: #FF5555;
}

#tooltip_1 {
  transform: translate(55px, 62px);
}

#tooltip_2 {
  transform: translate(55px, 3px);
}

#tooltip_3 {
  transform: translate(55px, 20px);
}

#tooltip_4 {
  transform: translate(55px, 55px);
}

#tooltip_5 {
  transform: translate(55px, 30px);
}

#tooltip_6 {
  transform: translate(55px, 80px);
}

.overview_section {
  background-color: #1D1E25;
  padding-left: clamp(22px, 5vw, 120px);
  padding-right: clamp(22px, 5vw, 120px);
}

.over_h_contaier {
  margin: 0;
}

.over_h1 {
  color: white;
  font-size: clamp(40px, 5vw, 80px);
  font-family: inter_semi;
}

.over_h2 {
  color: #7E8492;
  font-family: inter_med;
}

.over_icon {
  height: 40px;
}

.over_grid_h1 {
  font-family: inter_semi;
  color: white;
  font-size: 2.5vw;
}
@media screen and (max-width: 1350px) {
  .over_grid_h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
}

.over_grid_h2 {
  font-family: inter_med;
  color: #7E8492;
  width: 500px;
  font-size: 1vw;
}
@media screen and (max-width: 1350px) {
  .over_grid_h2 {
    font-size: 1.2rem;
    width: clamp(200px, 35vw, 600px);
  }
}

.over_grid_cell {
  width: min-content;
}

.over_grid_container {
  margin: 0;
  padding-right: 200px;
}
@media screen and (max-width: 1350px) {
  .over_grid_container {
    padding-right: 0;
  }
}

.adapt_br {
  display: unset;
}
@media screen and (max-width: 1550px) {
  .adapt_br {
    display: none;
  }
}

.pass_h1 {
  color: #1D1E25;
}

.pass_h2 {
  color: #7E8492;
  line-height: 1.5;
}

.pass_li {
  color: #1D1E25;
}

.pass_column {
  width: max-content;
}

.image_pass {
  width: 43vw;
}
@media screen and (max-width: 1350px) {
  .image_pass {
    width: 80vw;
  }
}

.exp_col_h1 {
  font-family: inter_semi;
  color: #1D1E25;
}

.exp_col_h2 {
  font-family: inter_semi;
  color: #1D1E25;
}

.exp_col {
  border-color: #CED1D8;
}

.exp_col_border {
  border-right: 1px solid #CED1D8;
}
@media screen and (max-width: 1350px) {
  .exp_col_border {
    border: none;
  }
}

.testimonirals_h1 {
  font-family: inter_semi;
  color: #1D1E25;
}

.testimonirals_h2 {
  font-family: inter_semi;
  color: #7E8492;
  width: 40vw;
}

.quotation_icon {
  width: 8vw;
}

.testimonirals_slider {
  width: 90%;
  height: 300px;
}

.card {
  border: 0;
}

.carousel-control-prev, .carousel-control-next {
  width: clamp(28px, 5vw, 60px);
  height: clamp(28px, 5vw, 60px);
  border-radius: 50%; /* Круглая форма */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  background-color: transparent;
  border: solid 2px;
  border-color: #CED1D8;
  transition: background-color ease 0.2s, border-color ease 0.2s;
}

.arrow_prev, .arrow_next {
  fill: #CED1D8;
  width: 45px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #1D1E25;
  border-color: #1D1E25;
}
.carousel-control-prev:hover .arrow_next, .carousel-control-prev:hover .arrow_prev, .carousel-control-next:hover .arrow_next, .carousel-control-next:hover .arrow_prev {
  fill: white;
}

.carousel-control-next {
  transform: rotate(180deg);
}

.carousel-control-prev {
  top: 82%;
  left: 85%;
}

.carousel-control-next {
  top: 82%;
}

.acc_h1 {
  font-family: inter_semi;
  color: #1D1E25;
}

.acc_h2 {
  font-family: inter_med;
  color: #7E8492;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  border: none;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.accordion-button {
  border: none;
}

.accordion-item:first-child .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-button {
  font-family: inter_semi;
  color: #1D1E25;
  padding: 2rem;
  font-size: 2rem;
}

.accordion-body {
  font-family: inter_med;
  color: #7E8492;
  width: 40vw;
  line-height: 1.4;
  font-size: 1.4rem;
}
@media screen and (max-width: 1350px) {
  .accordion-body {
    width: 80vw;
    font-size: 2rem;
    font-family: inter_reg;
  }
}

.form_section {
  padding-left: clamp(22px, 5vw, 120px);
  padding-right: clamp(22px, 5vw, 120px);
}

.form-subtitle {
  color: #7E8492;
  font-family: inter_reg;
  font-size: 1.2rem;
}
@media screen and (max-width: 1400px) {
  .form-subtitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .form-control {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .form-label {
    font-size: 2rem;
  }
}

.form-control {
  font-size: 1.2rem;
}
@media screen and (max-width: 1400px) {
  .form-control {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .form-control {
    font-size: 1rem;
  }
}

.form-text-area {
  height: 200px;
}

.form_bg {
  display: unset;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .form_bg {
    display: none;
  }
}

.form-container {
  border: 1px solid #CED1D8;
  padding: 56px 48px;
  background-color: white;
  height: max-content;
  width: 50vw;
}
@media screen and (max-width: 1400px) {
  .form-container {
    width: 85vw;
  }
}

#custom_invalid {
  border: 1px solid #dc3545;
}

#custom_valid {
  border: 1px solid #198754;
}

.dropdown_row {
  border: 1px solid #dee2e6;
  background-color: transparent;
}

.button_submit {
  background-color: #1D1E25;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 1vw 3vw;
  white-space: nowrap;
}

.phone_dropdown {
  max-width: 120px;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 0 0.5rem;
  border: none;
  font-size: 1.1rem;
}
@media screen and (max-width: 1400px) {
  .phone_dropdown {
    font-size: 1.2rem;
  }
}

.form_group_input {
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 1000px) {
  .form_group_input {
    font-size: 1 rem;
  }
}

.footer {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.footer_nav {
  border-bottom: solid 1px #7E8492;
}

@media screen and (max-width: 1400px) {
  .footer_nav_wrap {
    display: none;
  }
}

.footer_nav_h {
  font-family: inter_bold;
  color: #1D1E25;
  margin-bottom: 2rem;
  cursor: pointer;
}

.footer_p_col {
  font-family: inter_reg;
  color: #1D1E25;
  margin: 0;
  text-decoration: none;
  color: #1D1E25;
}

.footer_logo_h {
  line-height: 1.5;
  color: #7E8492;
}

.footer_bottom_text {
  color: #7E8492;
  font-family: inter_reg;
  margin-top: 2.4vw;
  margin-bottom: 3vw;
}

.footer_h2 {
  line-height: 1.5;
}

.footer_button {
  background-color: #1D1E25;
  color: white;
  border-radius: 100px;
  border: none;
  padding: 1vw 3vw;
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */