.exp_col_h1{
    color: $h1c;
}
.exp_col_h2{
    color: $h1c;
}

.exp_col{
    border-color: #CED1D8;
}

.exp_col_border{
    border-right: 1px solid #CED1D8;;
    @media screen and (max-width:1350px) {
       border: none;
     }
}

.login_page{
    height: 100vh;
}

.bg_form{
    background-image: url(/coca_sitee/img/bg_hero.png);
    background-size: cover;
    background-position: center;
}