.overview_section{
    background-color: #1D1E25;
   @include base_padding
}

.over_h_contaier{
    margin: 0;
}

.over_h1{
    color: white;
    font-size: clamp(40px, 5vw ,80px);
    font-family: $semi;
}

.over_h2{
    color: #7E8492;
    font-family: $med;
}

.over_icon{
    height: 40px;
}

.over_grid_h1{
    font-family: $semi;
    color: white;
    font-size: 2.5vw;
    @media screen and (max-width:1350px) {
        font-size: 1.5rem;
        white-space: nowrap;
      }
}

.over_grid_h2{
    font-family: $med;
    color: #7E8492;
    width: 500px;
    font-size: 1vw;
    @media screen and (max-width:1350px) {
        font-size: 1.2rem;
        width: clamp(200px, 35vw, 600px);
      }
}

.over_grid_cell{
    width: min-content;
}

.over_grid_container{
    margin: 0;
    padding-right: 200px;
    @media screen and (max-width:1350px) {
        padding-right: 0;
      }
}

.adapt_br{
    display: unset;
    @media screen and (max-width:1550px) {
        display: none;
      }
}